.logo {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    gap: 8px;
  }

  img {
    height: 28px;
    width: 28px;
    line-height: 30px;
    vertical-align: middle;
  }

  .logo-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    white-space: nowrap;
  }
}

.logo-with-star-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}